@font-face {
  font-family: "avenir";
  src: url("./Avenir.ttc");
}

@font-face {
  font-family: "book";
  src: url("./AvenirLTStd-Book.otf");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  text-transform: lowercase;
  font-family: "avenir";
  font-weight: 900;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.sidenav {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: none;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}
.sidebar-item {
  transform: rotate(90deg);
  width: 97px;
  margin-bottom: 160px;
}

.sidenav ul {
  margin-top: 120px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

/* NAVIGATION */

.navPer {
  background: none;
}
.nav-item {
  margin-right: 5rem;
  font-size: 1.5rem;
  color: white;
}
.nav-link {
  color: white;
}
.centernav {
  margin-left: 16rem;
}
.rightnav {
  margin-left: 8rem;
}

/*bg*/
.cd-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.cd-section--bg-fixed {
  min-height: 100vh;
  background-attachment: fixed;
}

/* backgrounds */

.cd-section:nth-child(1) {
  /* background-image: linear-gradient(
      148deg,
      rgba(53, 150, 197, 0.5) 16%,
      rgba(0, 0, 0, 0.5) 92%
    ),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)); */
  background-color: linear-gradient(
    148deg,
    rgba(53, 150, 197, 0.5) 16%,
    rgba(0, 0, 0, 0.5) 92%
  );
  background-image: url("images/newBg.png");
  min-height: 100vh;
  scroll-behavior: smooth;
}

.cd-section:nth-child(2) {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/projects.jpg"); */
  /*only blue*/
  /* background-image: linear-gradient(192deg, #0f2a36 42%, #226d6c 100%);  */
  /* 
  background-image: linear-gradient(192deg, #0f2a36 51%, #6d2222 27%); */
  background-image: linear-gradient(192deg, #0f2a36 42%, #6d2222 100%);
  /*red also */
  min-height: 100vh;
  scroll-behavior: smooth;
  /* background-attachment: fixed; */
}
.cd-section:nth-child(3) {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/resumebg.jpg"); */
  /* background-image: linear-gradient(166deg, #6d2222 51%, #0f2a36 27%); */
  background-image: linear-gradient(166deg, #6d2222 29%, #0f2a36 73%);

  min-height: 100vh;
  scroll-behavior: smooth;
  /* background-attachment: fixed; */
}

.cd-section:nth-child(4) {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/aboutpage.jpeg"); */
  /* background-image: linear-gradient(189deg, #0f2a36 51%, #22c1bc 27%); */
  background-image: linear-gradient(189deg, #0f2a36 51%, #22c1bc 97%);
  min-height: 100vh;
  scroll-behavior: smooth;
  /* background-attachment: fixed; */
}

/* home */

.home {
  /* The image used */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/home.jpeg");

  /* Full height */

  background-attachment: scroll;

  /* Center and scale the image nicely */
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  position: fixed;
  padding: 0;
  margin: 0;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.myName {
  margin-top: 17.5rem;
  width: 100%;
}

.avatarPic {
  display: none;
}
.iam {
  margin-left: 39%;
  margin-top: 10%;
  font-size: 3rem;
  letter-spacing: -1.5px;
  font-weight: 100;
  left: 600px;
  bottom: 200px;
  color: white;
}
.rohan {
  font-size: 7.5rem;

  font-weight: 800;
  color: white;
  background: rgba(37, 37, 37, 0.5);
}
.name {
  display: block;
  margin-top: -4%;
  margin-left: auto;
  margin-right: auto;
}
.lname {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
}
.asp {
  font-size: 1.5rem;
  font-family: "Avenir Heavy";
  color: white;
  text-align: center;
  font-weight: 400;
}

a .scroll {
  display: block;
  text-align: center;

  margin-top: 17.75rem;
  font-size: 1.5rem;
}
a .scrollHome {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10rem;
}

/*PROJECTS*/

.projects {
  padding-top: 2rem;
  padding-bottom: 22px;
}

.projNext {
  margin-bottom: -20%;
}

.projcontent {
  margin-top: 3rem;
}
.casestudycontent {
  margin-top: 2rem;
}

.proj {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.5),
    0 -12px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  height: 12.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.proj:hover {
  box-shadow: 0 0 10px #22c1bc;
  background-color: rgba(0, 0, 0, 0.8);
}

.title {
  font-family: "Avenir Black";
  color: white;
  font-size: 2rem;
  line-height: 2rem;
  padding-top: 30px;
  letter-spacing: -1px;
}
.title1 {
  width: 321px;
  margin-right: 2rem;
}
.taxi {
  margin-top: 2rem;
  margin-left: 2rem;
}

.prime {
  margin-left: 1.5rem;
  margin-top: 3rem;
}
.desc {
  font-family: "book";

  width: 487px;
  font-size: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: -1.5px;
  color: white;
}
.tesla {
  margin-left: 60px;
  margin-top: 30px;
}
.um {
  margin-left: 34px;
  width: 70%;
  height: 40%;
  margin-top: 35px;
}
.howstat {
  margin-left: 24px;
  margin-top: 50px;
}
.spendo {
  margin-left: 24px;
  margin-top: 33px;
}
.xpense {
  margin-left: 54px;
  margin-top: 24px;
}
.divvi {
  margin-left: 24px;
  margin-top: 44px;
}
.billin {
  margin-left: 34px;
  margin-top: 24px;
}

/*RESUME */
.resumeImg {
  width: 40%;
  height: 40%;
}
.resumeStarts {
  margin-top: 3.3rem;
  margin-bottom: -20%;
}
.resumeScroll {
  margin-top: 0%;
}
a:hover {
  text-decoration: none;
}
a .univ:hover {
  text-decoration: none;
  color: #22c1bc;
}
.resumeTitle {
  font-family: "Avenir Black";
  font-size: 2rem;
  color: white;
}
.resumeBG {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 12px 22px 0 rgba(0, 0, 0, 0.5),
    0 -12px 4px 0 rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  width: 100%;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.univ {
  letter-spacing: -0.75px;

  font-family: "Avenir Black";
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
}
.degree {
  font-family: "book";
  letter-spacing: -1px;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 0.3rem;
  color: white;
}
.skills {
  color: white;
  font-size: 2.5rem;
  margin: 0.3rem;
  margin-right: 1rem;
}
.points {
  margin-left: 0.5rem;
  padding: 0;
}
/*ABOUT*/

.about {
  margin-top: 121px;
  margin-bottom: 1.5rem;
}
.aboutdesc {
  font-family: "book";
  width: 535px;
  color: white;
  font-size: 1.5rem;
  letter-spacing: -1.5px;
  line-height: 1.5rem;
  padding: 0%;
  margin-top: 2rem;
}
.contact {
  margin-bottom: 4rem;
}
.con {
  font-family: "Avenir Black";
  color: white;
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 2rem;
}
.social {
  font-size: 3rem;
  margin-right: 2rem;
}
a {
  color: white;
}
a:hover {
  color: #22c1bc;
}

.bottomNav {
  width: 100%;
}
.tabMode {
  display: none;
}

/*PROJECT PAGE */
.projectPage {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/projbg.jpeg"); */
  background-image: linear-gradient(192deg, #0f2a36 42%, #6d2222 100%);
  min-height: 100vh;
  background-attachment: fixed;
}

.projImage {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid white;
  border-radius: 2rem;
}

.introSection {
  border-bottom: none;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.otherSection {
  border-radius: 0%;
  border-top: none;
  border-bottom: none;
}
.endSection {
  border-top: none;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

.taxiProj {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}
.projTitle {
  display: block;
  font-family: "avenir";
  font-weight: bold;
  color: white;
  font-size: 1rem;
  text-align: center;
}

.projDesc {
  font-family: "book";
  line-height: 1rem;
  letter-spacing: -1px;
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: white;
}

.moreProj {
  margin-bottom: 0;
}
.projcontentPage {
  margin-top: 1rem;
}

.backButt {
  margin-right: 1rem;
}
/*RESPONSIVENESS */

@media (max-width: 576px) {
  .tabMode {
    display: none;
  }
  html {
    overflow-x: hidden;
  }
  body {
    background-color: black;
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    overflow-x: hidden;
  }
  .sidenav {
    display: none;
  }

  /*NAVIGATION*/
  .navbar {
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2rem;
  }
  .centernav {
    margin-left: 1rem;
  }
  .nav-item {
    width: 30px;
    display: inline-block;
    font-size: 1.5rem;
    color: white;
  }
  .nav-link {
    display: inline-block;
    color: white;
  }
  a .scroll {
    display: block;
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
  }
  a .scrollHome {
    display: block;
    text-align: center;
    margin-top: 25rem;
    font-size: 1.5rem;
  }

  /*HOME*/

  .empty {
    display: none;
  }

  .myName {
    margin-top: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .avatarPic {
    border: 5px solid white;
    display: none;
    margin: 0 auto;
    margin-top: 20%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  .iam {
    font-size: 1.5rem;
    margin-bottom: -6%;
    margin-left: 25%;
  }
  .name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: -1rem;
    width: 226px;
    height: 71px;
  }
  .lname {
    width: 182px;
    height: 71px;
    margin-bottom: -1rem;
  }
  .asp {
    font-family: "book";
    font-size: 1rem;
  }
  .homeBG {
    background-image: url("images/mobile/home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0%;
  }
  .cd-section:nth-child(1) {
    background-image: url("images/mobile/newBg.png");

    background-size: cover;

    height: 100%;

    overflow: hidden;
    /* 
    background-image: none;
    background: #19547b;
    background: -webkit-linear-gradient(to bottom, #19547b, #ffd89b);
    background: linear-gradient(to bottom, #19547b, #ffd89b);

    height: 100%;*/

    min-height: 100vh;
  }

  /* .homeBG 
  {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ), url("images/mobile/home.jpg");
  } */
  /* .cd-section:nth-child(2) { */
  /* 
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/projects.jpg");

      background-size: cover; */

  /* background-image: none;

    background: #1d2b64;
    background: -webkit-linear-gradient(to top, #f8cdda, #1d2b64);
    background: linear-gradient(to top, #f8cdda, #1d2b64);

    min-height: 100vh;
    background-attachment: fixed;
  } */
  /* .cd-section:nth-child(3) { */
  /* background-image:linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/bokeh.jpg"); */
  /* 
    background-image: none;

    background: #f3904f; 
    background: -webkit-linear-gradient(
      to top,
      #3b4371,
      #f3904f
    ); 
    background: linear-gradient(
      to top,
      #3b4371,
      #f3904f
    ); 

    min-height: 100vh;
    background-attachment: fixed;
  } */
  /* .cd-section:nth-child(4) { */
  /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/bokeh.jpg"); */
  /* 
    background-image: none;
    background: #bdc3c7; 
    background: -webkit-linear-gradient(
      to top,
      #2c3e50,
      #bdc3c7
    ); 
    background: linear-gradient(
      to top,
      #2c3e50,
      #bdc3c7
    ); 

    min-height: 100vh;
    background-attachment: fixed;
  } */

  /*PROJECTS */

  .projects {
    padding-top: 4rem;
  }
  .freelanceContent {
    margin-bottom: 2rem;
  }

  .freelanceImg {
    margin-top: -10%;
    width: 274px;
    height: 62px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -3%;
  }
  .freelanceImg2 {
    margin-top: 2%;
    width: 237.5px;
    height: 47px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
  }
  .projImg {
    width: 210px;
    height: 58px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
  }
  .projcontent {
    display: block;
    margin-top: 1rem;
  }

  .projNext {
    margin-bottom: -10%;
  }

  .title {
    font-family: "Avenir Black";
    color: white;
    font-size: 22.18px;
    line-height: 22.18px;
    padding-top: 20.79px;
    letter-spacing: -0.69px;
  }
  .title1 {
    width: 222.45px;
    margin-right: 1rem;
  }
  .taxi {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .prime {
    height: 33px;
    width: 107px;
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .desc {
    font-family: "book";
    width: 320.86px;
    font-size: 1rem;
    margin-left: 1rem;
    margin-top: 8.6px;
    line-height: 1rem;
    letter-spacing: -1px;
    color: white;
  }
  .tesla {
    margin-left: 41px;
    margin-top: 21px;
    width: 47.85px;
    height: 47.85px;
  }
  .um {
    width: 70%;
    height: 40%;
    margin-left: 25px;
    margin-top: 25px;
  }
  .howstat {
    width: 100px;
    height: 16px;
    margin-left: 17px;
    margin-top: 35px;
  }
  .spendo {
    width: 100px;
    height: 46px;
    margin-left: 17px;
    margin-top: 23px;
  }
  .xpense {
    width: 50px;
    height: 50px;
    margin-left: 34px;
    margin-top: 14px;
  }
  .divvi {
    width: 80%;
    height: 35%;
    margin-left: 22px;
    margin-top: 34px;
  }
  .billin {
    width: 70%;
    height: 70%;
    margin-left: 18px;
    margin-top: 14px;
  }
  .proj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    height: 139px;
    margin-bottom: 8px;
    width: 95;
  }
  /*RESUME*/

  .resumeImg {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: -10%;
    padding-top: 0%;
  }
  .resumeTitle {
    font-size: 1.5rem;
  }
  .resumeStarts {
    margin-top: 0%;
    margin-bottom: -10%;
  }
  .resumeScroll {
    margin-top: 0%;
  }
  .scrolldown {
    font-size: 1rem;
    letter-spacing: -0.6px;
    text-align: center;
  }
  .univ {
    font-size: 22.8px;
    line-height: 22.8px;
  }
  .skills {
    margin-right: 0.5rem;
  }

  /*ABOUT*/

  .about {
    margin-top: 2rem;
  }
  .aboutImg {
    width: 253px;
    height: 46px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .aboutdesc {
    margin: 0 auto;
    font-size: 19.2px;
    letter-spacing: -1.5px;
    line-height: 19.2px;
    text-align: center;
    width: 322px;
  }

  .touchImg {
    width: 315px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .con {
    font-size: 19.2px;
    line-height: 19.2px;
    letter-spacing: -0.6px;
  }
  .social {
    font-size: 2rem;
  }

  /*PROJECT PAGE*/

  .projectPage {
    background-image: linear-gradient(192deg, #0f2a36 42%, #6d2222 100%);
    height: 100%;

    min-height: 100vh;
    background-attachment: fixed;
  }
  .taxiProj {
    display: block;
    margin: 0 auto;
    margin-top: -4rem;
  }
  .projTitle {
    display: block;
    font-family: "avenir";
    font-weight: bold;
    color: white;
    font-size: 0.75rem;
    text-align: center;
  }
  .projImage {
    border-radius: 1rem;
  }
  .introSection {
    border-bottom: none;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }
  .otherSection {
    border-radius: 0%;
    border-top: none;
    border-bottom: none;
  }
  .endSection {
    border-top: none;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
  }

  .projDesc {
    font-family: "book";
    letter-spacing: -1px;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar {
    display: none;
  }
  .scroll {
    display: none;
  }
  .cd-section:nth-child(2),
  .cd-section:nth-child(3),
  .cd-section:nth-child(4) {
    display: none;
  }
  .cd-section:nth-child(1) {
    /* background-image: linear-gradient(
            rgba(0, 0, 0, 0.70), 
            rgba(0, 0, 0, 0.70)
          ), url("images/bokeh.jpg"); */

    background-image: none;
    background: #ffd89b; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #19547b,
      #ffd89b
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #19547b,
      #ffd89b
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
    background-attachment: fixed;
  }
  .myName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    width: 50%;
  }
  .iam {
    font-size: 2rem;
    text-align: left;
    padding-left: 20%;
    margin-bottom: -10%;
  }
  .asp {
    font-family: "book";
    text-align: center;
    margin-top: -5%;
  }
  .name {
    display: block;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    margin-top: -5%;
  }
  .lname {
    display: block;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .avatarPic {
    border: 5px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
  }
  .tabMode {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
