@font-face{
    font-family: "avenir";
    src: url('./Avenir.ttc');
}
body
{
    font-family: "avenir";
    font-weight: 900;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* NAVIGATION */

.navPer
{
    background:none;
}
.nav-item 
{
    margin-right: 5.0rem;
    font-size: 1.5rem;
    color: white;
}
.nav-link
{
    color: white;
}
.centernav
{
margin-left: 16.0rem;
}
.rightnav 
{
    margin-left: 8.0rem;
}

/*bg*/
.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .cd-section--bg-fixed {
    min-height: 100vh;
    background-attachment: fixed;
  }
  
  /* backgrounds */
  .cd-section:nth-child(1) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ),url("images/home.jpeg");
      min-height: 100vh;
      background-attachment: fixed;
    
  }
  
  .cd-section:nth-child(2) {

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ),url("images/projects.jpg");
      min-height: 100vh;
      background-attachment: fixed;
    
  }
  .cd-section:nth-child(3) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ),url("images/resumebg.jpg");

      min-height: 100vh;
      background-attachment: fixed;
  }
  
  .cd-section:nth-child(4) {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ),url("images/aboutpage.jpeg");
      min-height: 100vh;
      background-attachment: fixed;
  }

/* home */

.home 
{
  /* The image used */
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.50), 
    rgba(0, 0, 0, 0.50)
  ),url("images/home.jpeg");

  /* Full height */
 
  background-attachment: scroll;

  /* Center and scale the image nicely */
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;

  position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}



.myName
{
    margin-top: 17.5rem;
}

.avatarPic 
{
    display: none;
}
.iam 
{
    font-size: 3.0rem;
    letter-spacing: -1.5px;
    font-weight: 100;
    color: white;
    margin: 0%;
}
.rohan
{
    font-size: 7.5rem;
    font-weight: 800;
    color: white;
    background: rgba(37,37,37,0.50);

}
.name 
{
    margin-top: -6%;
}
.lname 
{
    margin-top: 0%;
}
.asp 
{
    font-size: 1.5rem;
    font-family: 'Avenir Heavy';
    color: white;
    font-weight: 400;
}

.scroll 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 17.75rem;
    font-size: 1.5rem;
}

/*PROJECTS*/

.projects
{
  padding-top: 6.0rem;
  padding-bottom: 22px;
}

.projcontent
{
    margin-top: 4.5rem;
}

.proj 
{
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 22px;
    height: 12.5rem;
    width: 100%;
    margin-bottom: 2.0rem;
}

.proj:hover
{
    box-shadow: 0 0 10px #ff4d00;
    background-color: rgba(0, 0, 0, 0.80);
}

.title
{
    font-family: "Avenir Black";
    color: white;
    font-size: 2.0rem;
    line-height: 2.0rem;
  padding-top: 30px;
  letter-spacing: -1px;


}
.title1
{
    width: 321px;
    margin-right: 2.0rem;
}
.prime
{
    margin-left: 1.5rem;
    margin-top: 3.0rem;
}
.desc 
{
 
    width: 487px;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.75px;
    color: white;
}
.tesla 
{
    margin-left: 60px;
    margin-top: 30px;
}
.um 
{
    margin-left: 24px;
    margin-top: 15px;
}
.howstat
{
    margin-left: 24px;
    margin-top: 50px;
}
.spendo 
{
    margin-left: 24px;
    margin-top: 33px;
}
.xpense 
{
    margin-left: 54px;
    margin-top: 24px;
}
.resumeImg
{
    width: 384px;
    height: 62px;
}
/*ABOUT*/

.about 
{
    margin-top: 121px;
    margin-bottom: 1.5rem;
}
.aboutdesc
{
    width: 535px;
    color: white;
    font-size: 2.0rem;
    letter-spacing: -1px;
    line-height: 2.0rem;
    padding: 0%;
    margin-top: 2.0rem;
}
.contact
{
    margin-bottom: 4.0rem;
}
.con 
{
    font-family: "Avenir Black";
    color: white;
    font-size: 2.0rem;
    letter-spacing: -1px;
    line-height: 2.0rem;
}
.social
{
    font-size: 3.0rem;
    margin-right: 2.0rem;
}
a
{
    color: white;
}
a:hover 
{
    color: #ff4d00;
}
.bottomNav
{
    width: 100%;
  
}
.tabMode
{
    display: none;
}

/*RESPONSIVENESS */

@media (max-width: 576px) 
{ 
    .tabMode
{
    display: none;
}
body 
{
    background-color: black;
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    overflow-x: hidden;
}

 /*NAVIGATION*/   
.navbar
{
    padding-bottom: 3.0rem;
}
    .centernav
    {
        margin-left: 1.0rem;
        
    }
    .nav-item 
{
  width: 30px;
  display: inline-block;
    font-size: 1.5rem;
    color: white;
}
.nav-link
{
    display: inline-block;
    color: white;
}
.scroll 
{
   text-align: center;
    margin-top: 10.0rem;
    font-size: 1.5rem;
}

/*HOME*/

.empty 
{
    display: none;
}

.myName
{
    margin-top: 0%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.avatarPic
{
    border: 5px solid white;
    display: block;
    margin: 0 auto;
    margin-top: 20%;
    width: 20.0rem;
    height: 20.0rem;
    border-radius: 50%;

}
.iam 
{
    font-size: 1.5rem;
    margin-bottom: -6%;
}
.name
{
    width: 226px;
    height: 71px;
}
.lname
{
    width: 182px;
    height: 71px;
}
.asp
{
    font-size: 1.0rem;
}
.homeBG 
{
    background-image: url("images/mobile/home.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0%;
}
.cd-section:nth-child(1) 
{
    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ), url("images/mobile/home.jpg")  no-repeat top center fixed;;

 

   

    background-size: cover;

    height: 100%;

    overflow: hidden; */

     

      background-image: none;
      background: #ffd89b;  
      background: -webkit-linear-gradient(to top, #19547b, #ffd89b);  
      background: linear-gradient(to top, #19547b, #ffd89b); 

      background: #ffad26; /* Old browsers */
background: -moz-linear-gradient(top, #19547b, #ffd89b ); /* FF3.6+ */
background: -webkit-linear-gradient(top,  #19547b, #ffd89b); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #19547b, #ffd89b); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #19547b, #ffd89b); /* IE10+ */
background: linear-gradient(to bottom,  #19547b, #ffd89b); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19547b', endColorstr='#ffd89b',GradientType=0 ); /* IE6-9 */
      
      
      
      min-height: 100vh;
    background-attachment: fixed;
    
  }
  
  /* .homeBG 
  {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.50), 
        rgba(0, 0, 0, 0.50)
      ), url("images/mobile/home.jpg");
  } */
  .cd-section:nth-child(2) {
/* 
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/projects.jpg");

      background-size: cover; */
      

      background-image: none;

      background: #1D2B64;  
background: -webkit-linear-gradient(to top, #F8CDDA, #1D2B64);  
background: linear-gradient(to top, #F8CDDA, #1D2B64); 


      min-height: 100vh;
      background-attachment: fixed;

    

    
  }
  .cd-section:nth-child(3) {

    /* background-image:linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/bokeh.jpg"); */

      background-image: none;

      background: #F3904F;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #3B4371, #F3904F);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #3B4371, #F3904F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

      
  
      min-height: 100vh;
      background-attachment: fixed;
   
    
  }
  .cd-section:nth-child(4) {

    /* background-image: linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)
      ),url("images/bokeh.jpg"); */

      background-image: none;
      background: #bdc3c7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

      min-height: 100vh;
      background-attachment: fixed;
    
  }

/*PROJECTS */
.projImg
{
width: 210px;
height: 58px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 0%;
}

.title
{
    font-family: "Avenir Black";
    color: white;
    font-size: 22.18px;
    line-height: 22.18px;
  padding-top: 20.79px;
  letter-spacing: -0.69px;


}
.title1
{
    width: 222.45px;
    margin-right: 1.0rem;
}
.prime
{
    margin-left: 1.0rem;
    margin-top: 2.0rem;
}
.desc 
{

    width: 320.86px;
    font-size: 1.0rem;
    margin-left: 1.0rem;
    margin-top: 8.6px;
    line-height: 1.0rem;
    letter-spacing: -0.52px;
    color: white;
}
.tesla 
{
    margin-left: 41px;
    margin-top: 21px;
    width: 47.85px;
    height: 47.85px;
}
.um 
{
    width: 77px;
    height: 56px;
    margin-left: 20px;
    margin-top: 10px;
}
.howstat
{
    width: 100px;
    height: 16px;
    margin-left: 17px;
    margin-top: 35px;
}
.spendo 
{
    width: 100px;
    height: 46px;
    margin-left: 17px;
    margin-top: 23px;
}
.xpense 
{
    width: 50px;
    height: 50px;
    margin-left: 34px;
    margin-top: 14px;
}
.proj 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 22px;
    height: 139px;
    margin-bottom: 8px;
    width: 95;
}
/*RESUME*/

.resumeImg
{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.scrolldown
{
    font-size: 1.0rem;
    letter-spacing: -0.6px;
}
/*ABOUT*/

.about
{
    margin-top: 2.0rem;
}
.aboutImg 
{
    width: 253px;
    height: 46px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.aboutdesc
{
    margin: 0 auto;
    font-size: 19.2px;
    letter-spacing: -0.6px;
    line-height: 19.2px;
    text-align: center;
    width: 322px;
}

.touchImg
{
    width: 315px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.con 
{
    font-size: 19.2px;
    line-height: 19.2px;
    letter-spacing: -0.6px;
}
.social
{
   font-size: 2.0rem;
}

}



@media (min-width: 768px) and (max-width: 991.98px) 
{
    .navbar 
    {
        display: none;
    }
    .scroll 
    {
        display: none;
    }
    .cd-section:nth-child(2), .cd-section:nth-child(3), .cd-section:nth-child(4)
    {
        display: none;
    }
    .cd-section:nth-child(1) {
        /* background-image: linear-gradient(
            rgba(0, 0, 0, 0.70), 
            rgba(0, 0, 0, 0.70)
          ), url("images/bokeh.jpg"); */
    
          background-image: none;
          background: #ffd89b;  /* fallback for old browsers */
          background: -webkit-linear-gradient(to top, #19547b, #ffd89b);  /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to top, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          
          

          min-height: 100vh;
        background-attachment: fixed;
        
      }
  .myName
  {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 0%;
      margin-bottom: 0%;
      padding-bottom: 0%;
      width: 50%;
  }
  .iam 
  {
      font-size: 2.0rem;
      text-align: left;
      padding-left: 20%;
      margin-bottom: -10%;
  }
  .asp 
  {
      text-align: center;
      margin-top: -5%;
  }
  .name
  {
      display: block;
      width: 75%;
      height: 75%;
      margin: 0 auto;
      margin-top: -5%;
  }
  .lname
  {
    display: block;
    width: 75%;
    height: 75%;
    margin: 0 auto;
    margin-top: -5%;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .avatarPic
  {
      border: 5px solid white;
      display: block;
      margin: 0 auto;
      margin-top: 20%;
      width: 20.0rem;
      height: 20.0rem;
      border-radius: 50%;
  
  }
    .tabMode 
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}